body{
    float:center;
}
.landing{
    background-image: url("assets/backgrounds/h_img.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
}
#logo{
    padding-top: 120px;
}
#mouse{
    padding-top: 80px;
}
.aboutus{

    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: smaller;
}
.services{
    margin-top: -250px;
    background-image: url("assets/backgrounds/s_image.jpg");
    width:100%;
    height:300px;
   text-align: center;
   color: white;
   padding-top: 50px;
   font-size: small;
}
#wwdh{
    text-align: center;
    margin-top: 20px;
}
.wwd{
    display: flex;
    width:50%;
    height:500px;
    margin-top: 50px;
   
    padding-left: -350px;
  

}
#design{
  position:absolute;left:200px;
  
   
}
#desb{
    position:absolute;left:-5px;top:30px;
}
#destxt{
    text-align: center;
   
}
#dev{
    position:absolute;left:500px;
}
#servs{
     position:absolute;right:100px;
}
.portfolio{
width:100%;
height:500px;

margin-top: -350px;
    
}
.port1{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;

}
.p1{
    margin-right: 10px;

}
.bg1{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;
    display: none;
}
.bg2{
    background-color: white;
    width:80px;
    height:25px;
    position: relative;top:-90px;left:80px;
}
.bg3{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;

}
.bg4{
    background-color: white;
    width:80px;
    height:30px;
    position: relative;top:-120px;left:80px;
 
}
.bg5{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;
  
}
.bg6{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;
   
}
.bg7{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;
 
}
.bg8{
    background-color: white;
    width:80px;
    height:50px;
    position: relative;top:-140px;left:80px;
    
}

.p2{
    margin-right: 10px;
}

.p3{
    margin-right: 10px;
}

.p5{
    margin-right: 10px;
}
.p6{
    margin-right: 10px;
}
.p7{
    margin-right: 10px;
}
.port2{
    display: flex;
}

.contactus{
    background-image: url("assets/backgrounds/c_image.jpg");
    margin-top: 50px;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}


input[email]{
    width: 400px;
    height:700px;
}
input[textarea]{
    height:700px;
}
input[button]{
    height:700px;
}
.socials{
    margin-top:20px;
    float: center;
    margin-left: 30%;
}
#delani{
    margin-left: 25%;
    font-weight: 300;
}
#delani1{
    margin-left: 28%;
    font-weight: 300;
}